
.bttn{
	width: 50px;
	background-color: white;
	border-style: 1px solid white;
	color: black;
	height: 50px;
	font-size: 25px;
	margin: 2;
}

#display{
	width: 208px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
}